<h1>List of foods in this group:</h1>
<h1>Total amount: <%= @total %> </h1>
<% @foods.each do | food | %>
  <p><%= food.created_at %></p>
  <p><%= food.group.icon %></p>
  <p><%= food.name %></p>
  <p><%= food.amount %></p>
  <p><%= food.author.name %></p>
<% end %>
<%= link_to "Add new", new_food_path %>
