<% if @user %>
  <h1>Welcome to Food Tracker, <%= @user.name %>!</h1>
  <%= link_to "All my grouped meals", foods_path(type: "grouped") %>
  <%= link_to "All my ungrouped meals", foods_path %>
  <%= link_to "All groups", groups_path %>
  <%= render 'calculate' %>
<% else %>
  <%= render 'login' %>
<% end %>
