<div class='user-page'>
  <% if @user %>
    <%= gravatar_image_tag(current_user.email, alt: current_user.name, class: "gravatar", gravatar: { :size => 250 }) %>
    <h1><%= @user.name %></h1>
    <div class="link-div">
      <%= image_tag "grouped.png" %>
      <%= link_to "All my grouped meals", foods_path(type: "grouped") %>
    </div>
    <div class="link-div">
      <%= image_tag "ungrouped.png" %>
      <%= link_to "All my ungrouped meals", foods_path %>
    </div>
    <div class="link-div">
      <%= image_tag "groups.png" %>
      <%= link_to "All groups", groups_path %>
    </div>
    <div class="link-div">
      <%= image_tag "logout.png" %>
      <%= link_to 'Log out', logout_path, method: :delete, class: "last-link" %>
    </div>
    <%= render 'calculate' %>
  <% else %>
    <%= render 'login' %>
  <% end %>
</div>
