<h1>Total amount: <%= @total %> </h1>
<h1>List of foods:</h1>
  <% @foods.each do | food | %>
      <p><%= food.author.name %>: </p>
      <p><%= "food.group.icon" %>: </p>
      <p><%= food.name %></p>
      <p><%= food.amount %></p>
  <% end %>
