<!DOCTYPE html>
<html>
  <head>
    <title>FoodTrackerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Playball&display=swap" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if sign_in? %>
        <%= link_to "#{current_user.name} Profile", current_user %>
        <%= link_to 'Log out', logout_path, method: :delete %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
